<div class="footer">
    <div class="container">
        <div class="social">
            <ul>
                <li><a href="#" class="face"></a></li>
                <li><a href="#" class="twit"></a></li>
                <li><a href="#" class="insta"></a></li>
                <li><a href="#" class="gplus"></a></li>
                <li><a href="#" class="dribl"></a></li>
            </ul>
        </div>
        <div class="copy-rt">
            <p>&#169; 2015 Archer Design by <a href="http://www.w3layouts.com" target="_blank">w3layouts</a></p>
        </div>
    </div>
</div>
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
