
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="gallery">
    <h3>Gallery</h3>
    <div class="container">
        <link rel="stylesheet" href="~/web/css/swipebox.css">
        <script src="~/web/js/jquery.swipebox.min.js"></script>
        <script type="text/javascript">
							jQuery(function($) {
								$(".swipebox").swipebox();
							});
        </script>
        <div class="gallery-grids">
            <ul>
                <li class="col-md-3 gal-alt">
                    <a href="~/web/images/17.jpg" class="swipebox">
                        <img src="~/web/images/17.jpg" alt="/">
                        <h4>Lorem Ipsum</h4>
                        <p> Lorem Ipsum has been the industry's standard dummy text </p>
                    </a>
                </li>
                <li class="col-md-3 gal-alt">
                    <a href="~/web/images/26.jpg" class="swipebox img-responsive">
                        <img src="~/web/images/26.jpg" class="img-responsive" alt="/">
                        <h4>Lorem Ipsum</h4>
                        <p> Lorem Ipsum has been the industry's standard dummy text </p>
                    </a>
                </li>
                <li class="col-md-3 gal-alt">
                    <a href="~/web/images/16.jpg" class="swipebox img-responsive">
                        <img src="~/web/images/16.jpg" class="img-responsive" alt="/">
                        <h4>Lorem Ipsum</h4>
                        <p> Lorem Ipsum has been the industry's standard dummy text </p>
                    </a>
                </li>
                <li class="col-md-3 gal-alt">
                    <a href="~/web/images/25.jpg" class="swipebox img-responsive">
                        <img src="~/web/images/25.jpg" class="img-responsive" alt="/">
                        <h4>Lorem Ipsum</h4>
                        <p> Lorem Ipsum has been the industry's standard dummy text </p>
                    </a>
                </li>
                <li class="col-md-3 gal-alt">
                    <a href="~/web/images/19.jpg" class="swipebox img-responsive">
                        <img src="~/web/images/19.jpg" class="img-responsive" alt="/">
                        <h4>Lorem Ipsum</h4>
                        <p> Lorem Ipsum has been the industry's standard dummy text </p>
                    </a>
                </li>
                <li class="col-md-3 gal-alt">
                    <a href="~/web/images/18.jpg" class="swipebox img-responsive">
                        <img src="~/web/images/18.jpg" class="img-responsive" alt="/">
                        <h4>Lorem Ipsum</h4>
                        <p> Lorem Ipsum has been the industry's standard dummy text </p>
                    </a>
                </li>
                <li class="col-md-3 gal-alt">
                    <a href="~/web/images/22.jpg" class="swipebox img-responsive">
                        <img src="~/web/images/22.jpg" class="img-responsive" alt="/">
                        <h4>Lorem Ipsum</h4>
                        <p> Lorem Ipsum has been the industry's standard dummy text </p>
                    </a>
                </li>
                <li class="col-md-3 gal-alt">
                    <a href="~/web/images/12.jpg" class="swipebox img-responsive">
                        <img src="~/web/images/12.jpg" class="img-responsive" alt="/">
                        <h4>Lorem Ipsum</h4>
                        <p> Lorem Ipsum has been the industry's standard dummy text </p>
                    </a>
                </li>
                <!---->
                <li class="col-md-3 gal-alt">
                    <a href="~/web/images/14.jpg" class="swipebox img-responsive">
                        <img src="~/web/images/14.jpg" class="img-responsive" alt="/">
                        <h4>Lorem Ipsum</h4>
                        <p> Lorem Ipsum has been the industry's standard dummy text </p>
                    </a>
                </li>
                <li class="col-md-3 gal-alt">
                    <a href="~/web/images/13.jpg" class="swipebox img-responsive">
                        <img src="~/web/images/13.jpg" class="img-responsive" alt="/">
                        <h4>Lorem Ipsum</h4>
                        <p> Lorem Ipsum has been the industry's standard dummy text </p>
                    </a>
                </li>
                <li class="col-md-3 gal-alt">
                    <a href="~/web/images/15.jpg" class="swipebox img-responsive">
                        <img src="~/web/images/15.jpg" class="img-responsive" alt="/">
                        <h4>Lorem Ipsum</h4>
                        <p> Lorem Ipsum has been the industry's standard dummy text </p>
                    </a>
                </li>
                <li class="col-md-3 gal-alt">
                    <a href="~/web/images/23.jpg" class="swipebox img-responsive">
                        <img src="~/web/images/23.jpg" class="img-responsive" alt="/">
                        <h4>Lorem Ipsum</h4>
                        <p> Lorem Ipsum has been the industry's standard dummy text </p>
                    </a>
                </li>
                <li class="col-md-3 gal-alt">
                    <a href="~/web/images/20.jpg" class="swipebox img-responsive">
                        <img src="~/web/images/20.jpg" class="img-responsive" alt="/">
                        <h4>Lorem Ipsum</h4>
                        <p> Lorem Ipsum has been the industry's standard dummy text </p>
                    </a>
                </li>
                <li class="col-md-3 gal-alt">
                    <a href="~/web/images/21.jpg" class="swipebox img-responsive">
                        <img src="~/web/images/21.jpg" class="img-responsive" alt="/">
                        <h4>Lorem Ipsum</h4>
                        <p> Lorem Ipsum has been the industry's standard dummy text </p>
                    </a>
                </li>
                <li class="col-md-3 gal-alt">
                    <a href="~/web/images/25.jpg" class="swipebox img-responsive">
                        <img src="~/web/images/25.jpg" class="img-responsive" alt="/">
                        <h4>Lorem Ipsum</h4>
                        <p> Lorem Ipsum has been the industry's standard dummy text </p>
                    </a>
                </li>
                <li class="col-md-3 gal-alt">
                    <a href="~/web/images/19.jpg" class="swipebox img-responsive">
                        <img src="~/web/images/19.jpg" class="img-responsive" alt="/">
                        <h4>Lorem Ipsum</h4>
                        <p> Lorem Ipsum has been the industry's standard dummy text </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
